.container{
    border: 1px solid black;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap:1em;
    background-color: rgba(116, 27, 180, 0.406);
    
}
