
  .landing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } 
  

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-20px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-20px); }
    100% { transform: translateX(0); }
  }
  @keyframes shake-circular {
    0% { transform: rotate(0); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0); }
  }
  .sticker{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 350px; 
    height: auto; 
    animation: shake-circular 0.5s ease infinite;
    opacity: 99.9%
  }
 
    .button:hover {
      background-color: #963bba; 
      transform: scale(1.10); 
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
      text-decoration: none;
    }
.button:visited {
  text-decoration: none; 
}
.video {
    bottom: 0;
    height: 100vh;
    left: 0;
    object-fit: cover;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}
.button {
  font-size: 50px;
  color: #6fe9b4;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
  font-family: 'Press Start 2P', sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: shake 1.8s ease infinite;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)
}